<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="footer" class="footer__container container-xl">
  <h2 class="footer__title">В проекте участвовали</h2>
  <ul class="list-reset social d-flex">
    <li class="social__item">
      <a href="https://vk.com/demidkop2906" class="social__link">
        <div class="social__icon social__icon_dk"></div>
        <span class="social__name">Копань Демид</span>
      </a>
    </li>

    <li class="social__item">
      <a href="https://vk.com/budushee_planety_zemlya" class="social__link">
        <div class="social__icon social__icon_ep"></div>
        <span class="social__name">Панин Егор</span>
      </a>
    </li>
  </ul>
</div>